<nav class="navbar navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Logo
      </a>
    </div>

    <div>
      <!-- <ol class="breadcrumb">
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol> -->

      <ul class="nav navbar-nav navbar-right">
<!--    <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>-->
        <li><a ng-href="#">Login</a></li>

      </ul>
    </div>
  </div>
</nav>
